<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet", href="/css/style.css" />
    <title>DaZheYiHao</title>
</head>
<body>
    <div class="header">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">DaZheYiHao</a>
                </div>
                <div id="js-navbar">{{{navbar}}}</div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-8 main-body">{{{body}}}</div>
            <div class="col-md-3 main-side pull-right"></div>
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid">
            <ul class="list-inline">
                <li>
                <span class="text-muted">&copy;2015 All rights reserved</span>
                </li>
                <li>
                <a href="#">免责声明</a>
                </li>
                <li>
                <a href="#">使用帮助</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script id="js-navs" type="text/json">{{{navs}}}</script>
<script type="text/javascript" src="dist/main.js"></script>
</html>
