doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        block css-area
    body
        .container-fluid
            .header
                .navbar.navbar-default.navbar-fixed-top(role="navigation")
                    .container-fluid
                        .navbar-header
                            a.navbar-brand(href="#") DaZheYiHao
                        .collapse.navbar-collapse
                            ul.nav.navbar-nav
                                li
                                    a(href="#") 首页
                                li
                                    a(href="#") 发现
                                li
                                    a(href="#") 神店铺
                                li
                                    a(href="#") 双十一特惠
                                li
                                    a(href="#")
                                        span.glyphicon.glyphicon-th(aria-hidden="true")
        #app
        .footer
            .container-fluid
                ul.list-inline
                    li
                        span.text-muted &copy 2015 All rights reserved
                    li
                        a(href="#") 关于我们
                    li
                        a(href="#") 免责声明
    script(src="dist/main.js")
    block js-area
