doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel='stylesheet', href='/css/style.css')
    block css-area
  body
    #app.container-fluid
    block js-area
    script(src="dist/main.js")
