html {
  min-height: 100%;
}
body {
  padding: 78px 0 0;
  font: 14px "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Helvetica, Arial, sans-serif;
  color: "#666";
  background-color: "#fff";
}
.header .navbar-default {
  background-color: #333333;
}
.header .navbar-default .navbar-brand,
.header .navbar-default .navbar-nav li a {
  color: #ffffff;
}
