html {
  height: 100%;
}
body {
  height: 100%;
  padding: 78px 0 0;
  font: 14px "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Tahoma, Helvetica, Arial, sans-serif;
  background-color: #f3f4f5;
}
.btn-buy {
  color: #ffffff;
  background-color: #e65686;
  border-color: #cc3366;
}
.btn-buy:hover {
  color: #ffffff;
  background-color: #e63f77;
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 52px;
  border-bottom: 2px solid #cc3366;
  background-color: #ffffff;
  box-shadow: 0 0 5px #c0c0c0;
}
.header .navbar-default {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
}
.header .navbar-default .navbar-nav li:hover {
  background-color: #cc3366;
}
.header .navbar-default .navbar-nav li:hover a {
  color: #ffffff;
}
.header .navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.header .navbar-fixed-top {
  border: 0;
}
.main {
  min-height: 100%;
  padding-bottom: 100px;
}
.main .main-body,
.main .main-side {
  color: #555;
  background-color: #ffffff;
}
.dropdown-list {
  width: 100%;
  min-height: 100px;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 53px;
  background-color: #cc3366;
}
.dropdown-list li {
  padding-top: 5px;
  height: 30px;
}
.dropdown-list li a {
  color: #ffffff;
}
.goods-item {
  /*max-height: 180px;*/
  margin-bottom: 15px;
  padding-top: 10px;
  border-bottom: 1px solid #f0f0f0;
  background-color: #ffffff;
}
.goods-item .thumbnail {
  border: none;
}
.goods-item .content-area {
  padding-top: 15px;
}
.goods-item .foot-area {
  height: 50px;
  padding: 10px;
}
.goods-item .goods-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.goods-item .goods-discount {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 15px;
  color: #cc3333;
}
.goods-item img {
  max-width: 150px;
  max-height: 150px;
}
.goods-item .interaction-area,
.goods-item .btns-area {
  display: inline-block;
  float: left;
  height: 100%;
}
.goods-item .interaction-area {
  width: 70%;
}
.goods-item .btns-area {
  width: 30%;
}
.goods-item .btns-area button {
  margin-right: 5px;
}
.footer {
  width: 100%;
  height: 80px;
  position: relative;
  margin: -80px auto 0 auto;
  padding-top: 5px;
  text-align: center;
  background-color: #555;
  border-top: 5px solid #666;
}
@media screen and (max-width: 768px) {
  .header .navbar-default {
    width: 100%;
  }
}
