@import "variable.less";
html {
    min-height: 100%;
}

body {
    padding: 78px 0 0;
    font: 14px @font-mac, @font-win, @font-linux, @font-common;
    color: @font-color-common;
    background-color: @white;
}

